@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

html,
body {
  max-width: 100%;
  overflow-x: hidden;

  font-family: "Oswald", sans-serif;
}
.logo img {
  height: 80px;
  width: 80px;
}

body {
}
.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 400px;
  height: 450px;
  border-radius: 10px;
}
.container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  gap: 10px;
}

.item1,
.item2,
.item3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.receipe {
  display: flex;
  gap: 64px;
}

a {
  font-weight: bold;
}

footer {
  text-align: center;
  background: rgb(211, 206, 206);
  padding: 1px;
  margin: 1px;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-weight: 300;
}
